/*------------
 Setting the default box-sizing to border-box for the entire document. Source guide:https://css-tricks.com/box-sizing/
-----------*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
/* Genaral styles applicable to the whole body */
body {
	width: 70%;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-size: 1.25em;
	line-height: 1.5em;
}
/* Styles applicable to the navigation menu */
nav {

}

nav ul {

}

nav ul>li {

}
/* Styles applicable to the main area*/
main {

}

section {

}

header {

}

div#content {
	width: 50%;
	border: 1px solid blue;
	background-color: cyan;
}

article {

}

details {

}

details>summary {

}

/* Genaral styles applicable to the footer area */

footer {

}

/* Typography styles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

p {

}

a, a:hover, a:visited {

}
