/*------------
 Setting the default box-sizing to border-box for the entire document. Source guide:https://css-tricks.com/box-sizing/
-----------*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
/* Genaral styles applicable to the whole body */
body {
	width: 80%;
	margin: 0 auto;
	/*Set the default font properties for all the text element here. Then customize them later in respective element*/ 
	font-family: 'Roboto Slab', serif;
}
/* Styles applicable to the Main navigation menu */
nav {
		
}
/* The ul element is set overflow property to clear the float left of the li's under it.
here's a great resource on floats from CSS Tricks: https://css-tricks.com/almanac/properties/f/float/----- */ 
nav ul {
	overflow: hidden;
}

nav.in-post-nav ul>li {
	display: inline-block;
	float: left;
	min-width: 20%;
	text-align: center;
}
/* Styles applicable to the main area*/
main {

}

section {
	/*clear: both;*/
}

header {

}
/* Styles for the Contents navigation menu*/
div#content {
	/* The content div is given 50% with of the header container. 
	But for smaller screens the minimum width is set to 200px to avoid text overflow problem */ 
	width: 50%;
	min-width: 200px;
	text-overflow: hidden;
	border: 1px solid blue;
	background-color: cyan;
}

article {

}

details {

}

details>summary {

}

/* Genaral styles applicable to the footer area */

footer {

}

/* Typography styles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	line-height: 1.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
}

p#target-date {
	font-weight: bold;
}
a, a:hover, a:visited {

}
